[submodule "docs/players_manual"]
	path = docs/players_manual
	url = https://github.com/ctm/mb2-doc
	branch = gh-pages
[submodule "docs/the_person"]
	path = docs/the_person
	url = https://github.com/ctm/the-person
