[submodule "docs/players_manual"]
	path = docs/players_manual
	url = https://github.com/ctm/mb2-doc
	branch = gh-pages
[submodule "docs/the_business"]
	path = docs/the_business
	url = https://github.com/ctm/the-business
	branch = gh-pages
